<div class="backdrop">
  <div class="nav">
  </div>

  <div id="main" class="container-fluid">

    </div>
    <div class="meeting-filter"></div>
    <div>
      <div class="meeting-index col-sm-offset-1 col-sm-10 "></div>
      <div class="meeting-show col-sm-9 row" ></div>
    </div>
  </div>
  <div id="modal-view">

  </div>
</div>

<script>$(Tennisify.initialize);</script>

<script>
  var currentUser;
  <% if (current_user)%>
    currentUser = <%= current_user.id %>
  <% end %>
</script>
