<div id="main" class="container-fluid">

</div>

<div id="modal-view"></div>

<script>$(Tennisify.initialize);</script>

<script>
  var currentUser;
  <% if (current_user)%>
    currentUser = <%= current_user.id %>
  <% end %>
</script>
