  <label>Title
    <input type="text" name="filter[title]"
      id="title" value="" class="filter">
  </label>
  <label>Organizer
    <input type="text" name="filter[organizer]"
      id="title" value="" class="filter">
  </label>

<button class="filter">submit</button>
