<h1>Sign Up</h1>
<ul class="errors"></ul>
<label>
  Username
  <input type="text" name="user[email]" value="">
</label>

<label>
  Password
  <input type="password" name="user[password]" value="">
</label>
<br>
<label> First Name
  <input type="text"
  name="user[fname]"
  id="fname"
  value="">
</label>


<label>Last Name
  <input type="text"
  name="user[lname]"
  id="lname"
  value="">
</label>

<button class="create-user">Sign Up</button>
