<h1>Sign Up</h1>
<ul class="errors"></ul>


<div class="form-group">
  <label >Username</label>
  <input type="text" name="user[username]" value="">
</div>
<div class="form-group">
  <label>Name</label>
  <input type="text" name="user[fname]" value="" placeholder="first">
  <input type="text" name="user[lname]" value="" placeholder="last">
</div>

<div class="form-group">
  <label>Password</label>
  <input type="password" name="user[password]" value="">
</div>

<div class="form-group">
  <label>Email</label>
  <input type="text" name="user[email]" id="email" value="">
</div>
<%= select("level", "user", LEVELS)%>
<%= select("location", "user", LOCATIONS)%>

<div class="form-group">
  <label>Age</label>
  <input type="number" name="user[age]" value="">
</div>

<%= buttons('radio', 'gender', "user", ['M', 'F']) %>
<%= buttons("radio", "reveal_age", "user", ['Yes', 'No'], 'Yes') %>


<br>
<button class="create-user">Sign Up</button>
