<div class="col-sm-6">
  <h3>Phone Number:</h3>
  <div class="row">
    <div class="col-sm-5">
      <%= user.escape("phone_number") %>
    </div>
    <div class= "col-sm-7">
      <%= button %>
    </div>
  </div>
</div>
