<div class="response row ">
</div>

<div class="accepted row ">
  <div class="line row col-sm-12"></div>
  <div class="col-sm-12">
    <h2 >Accepted</h4>
  </div>
  <div class="line row col-sm-12"></div>
</div>
<div class="maybe row ">
  <div class="col-sm-12">
    <h2>Maybe</h4>
  </div>
  <div class="line row col-sm-12"></div>
</div>
<div class="declined row ">
  <div class="col-sm-12">
    <h2>Declined</h4>
  </div>
  <div class="line row col-sm-12"></div>
</div>
