<div class="accepted">
  <h2 class="response-title">Accepted</h4>

</div>
<div class="maybe">
  <h2 class="response-title">Maybe</h4>

</div>
<div class="declined">
  <h2 class="response-title">Declined</h4>

</div>
