<div class="response">
</div>
<div class="accepted">
  <h2 class="respondent">Accepted</h4>

</div>
<div class="maybe">
  <h2 class="respondent">Maybe</h4>

</div>
<div class="declined">
  <h2 class="respondent">Declined</h4>

</div>
