<div class="col-sm-12">
  <div class="row col-sm-12">
    You have not responded yet:
  </div>
  <div class="row col-sm-12">
    <button class="respond-button" value="accepted">Accept</button>
    <button class="respond-button" value="maybe">Maybe</button>
    <button class="respond-button" value="declined">Decline</button>
  </div>
</div>
