/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require jquery.ui.all
 */


 @import "bootstrap-sprockets";
 @import "bootstrap";
 @import "font-awesome";
 body {
   padding-top: 60px;
 }

input[type="number"] {
  width: 60px;
  margin-top: 4px;
}

input[type="date"] {
  width: 100%;
}

button.float-right {
  float: right;
}

input[type="time"] {
  width: 100%;
}

.add-bottom-margin {
  margin-bottom: 5px
}

.blue {
  background-color: blue;
}

.border {
  border-style: solid;
  border-color: red;
}

.line{
  border-top: 1px solid black;
  margin-top: 20px;
  padding-top: 10px;
  padding-right: 0px
}

.about-text{
  font-size: large;
  margin-top: 10px
}
.noBottomMargin {
  margin-bottom: 0px
}

.meeting-edit{
  float: right;
}
.meeting-back{
  float: left;
}

.meeting-filter {
  border-bottom: solid, 10px;
  background-color: #f0f0f5;
}

.index-item {
  display: inline;
  float: left;
  width: 300px;
  height: 200px;
  color: white;
  border: white 5px solid;
  background-color: #4e7fb6;
  font-size: large;
  margin: 20px 20px 20px 20px;
  display: inline;
  border-radius: 10px;
  padding-left: 5px;
}

img.thumb {
  max-width:100%;
  max-height:150px;
}


.modal-content {
  width: 680px
}

.respondent {
  padding-top: 10px;
  padding-bottom: 10px;
}

.respondents {
  border-left: 1px solid rgba(0, 0, 0, 0.670588);
  padding-right: 0px;
}

.index-item:hover {
  border: 5px solid black;
  border-radius: 5px;
}

.profile-picture {
  float: right;
  max-width:300px;
  max-height:300px;
  width: auto;
  height: auto
}

.index-item-header {
  text-align: center;
}

.create-account-link {
  float: right;
}

.toggle-filter-button{
  background-color: #4fa84f;
}

.individual-scroll {
  height: 100vh;
  overflow: scroll;
}

a.index-items{
  color: white;
}

.response-title{
  border-bottom: 1px solid rgba(0, 0, 0, 0.670588)
}
// .response {
//   font-size;
// }
.birthday {
  margin-top: -5px;
  padding-left: 0px;
}

.show-meeting {
    padding-right: 0px;
}

.image {
  padding-left: 0px;
  padding-right: 0px;
  margin-left: 10px;
  margin-right: -10px;
}

.push-down {
  height: 150px;
}

select[multiple].invited-players {
  height: 350px;
}

select[multiple].user-list {
  height: 300px
}

// ul.display-invited {
//   border: 1px solid #cccccc;
//   border-radius: 4px;
//   height: 125px;
//   // columns: 2;
//   // -webkit-columns: 2;
//   // -moz-columns: 2;
//   overflow: scroll;
// }

.display-invited {
  border: 1px dotted blue;
  overflow: auto;
  margin: 0;
  padding: 0;
  border: 1px solid #cccccc;
  border-radius: 4px;
  overflow: scroll;
  height: 125px;
}

.display-invited li {
  display: inline-block;
  width: 45%;
  margin: 0;
  padding: 0;
  vertical-align: top;
}

.navbar-nav > li > a {
  padding: 0px 0px 0px 0px;
}

div.meeting-index {
  z-index: 1;
  min-width: 350px
}


//
// .modal-backdrop {
//   background-image: url("backdrop2.jpg");
//   top: 0;
//   left: 0;
//   bottom: 0;
//   right: 0;
//   // opacity: 0.5;
//   z-index: -1;
// }
