<div class="modal-content">
  <div class="modal-header clearfix">
    <h1>Login</h1>
    <a href="#" class="create-account-link">Create Account</a>
  </div>
  <div class="modal-body">

    <ul class="errors"></ul>
    <label>username or email
      <input type="text"
      name="user[login]"
      id="email"
      class="session-login">
    </label>

    <label>Password
      <input type="password"
      name="user[password]"
      id="password"
      class="session-password">
    </label>
  </div>
  <div class="modal-footer">
    <!-- <button class="login">Log In</button> -->
    <button type="button" class="btn btn-default guest-login">Guest Login</button>
    <button type="button" class="btn btn-default login">Log In</button>

    <!-- <button type="button" class="btn btn-primary">Save changes</button> -->
  </div>

</div>
