<h1>Login</h1>
<ul class="errors"></ul>
  <label>username or email
    <input type="text"
    name="user[login]"
    id="email"
    value="">
  </label>

  <label>Password
    <input type="text"
    name="user[password]"
    id="password"
    value="">
  </label>

  <button class="login">Log In</button>
