
<style>body {
  background: #7f9b4e url(assets/images/bg2.jpg) no-repeat center top;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  }</style>


    <section class="main">

      <form class="login-form">
        Manage your tennis with
        <div class="login-title">
          Tennisify
        </div>
        <h1>Login</h1>
        <p>
          <label for="login">Username or email</label>
          <input type="text" name="user[login]" placeholder="Username or email" required>
        </p>
        <p>
          <label for="password">Password</label>
          <input type="password" name='user[password]' placeholder="Password" required>
        </p>

        <p>
          <input type="submit" name="submit" value="Log In">
          <button class="guest-login">Guest Login</button>
          <a href="#users/new"><button>Create Account</button></a>
        </p>
      </form>​
    </section>
