<div class="container container-fluid">
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand" href="#"></a>
  </div>

  <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
    <ul class="nav navbar-nav navbar-right">
      <li><a href="#meetings/new"><button class="create-meeting btn btn-primary navbar-btn">Create Meet</button></a></li>
      <li><a href="#users/<%= currentUser %>"><button class="show-profile btn btn-primary navbar-btn">My Profile</button></a></li>
      <li><%= authButton %></li>
    </ul>
  </div>
</div>
