<nav class="navbar navbar-default navbar-fixed-top" role="navigation"></nav>
<div class="backdrop">
  <div class="meeting-filter col-sm-10 col-sm-offset-1"></div>
  <div class="col-sm-12">
    <div class="meeting-index col-sm-offset-1 col-sm-10 individual-scroll"></div>
    <div class="meeting-show col-sm-9 row" ></div>
  </div>
</div>
